<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lab.mapper.LabSysProductMapper">

    <resultMap type="LabSysProduct" id="LabSysProductResult">
        <result property="id" column="id"/>
        <result property="product" column="product"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="completeStatus" column="complete_status"/>
    </resultMap>

    <sql id="selectLabSysProductVo">
        select id,
               product,
               create_by,
               create_time,
               update_by,
               update_time,
               remark,
               complete_status
        from lab_sys_product
    </sql>

    <select id="selectLabSysProductList" parameterType="LabSysProduct" resultMap="LabSysProductResult">
        <include refid="selectLabSysProductVo"/>
        <where>
            <if test="product != null  and product != ''">and product = #{product}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and create_time between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="completeStatus != null  and completeStatus != ''">and complete_status = #{completeStatus}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectLabSysProductById" parameterType="Long" resultMap="LabSysProductResult">
        <include refid="selectLabSysProductVo"/>
        where id = #{id}
    </select>

    <insert id="insertLabSysProduct" parameterType="LabSysProduct">
        insert into lab_sys_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="product != null">product,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="completeStatus != null">complete_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="product != null">#{product},</if>
            <if test="createBy != null">#{createBy},</if>
            GETDATE(),
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="completeStatus != null">#{completeStatus},</if>
        </trim>
    </insert>

    <update id="updateLabSysProduct" parameterType="LabSysProduct">
        update lab_sys_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="product != null">product = #{product},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = GETDATE(),
            <if test="remark != null">remark = #{remark},</if>
            <if test="completeStatus != null">complete_status = #{completeStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLabSysProductById" parameterType="Long">
        delete
        from lab_sys_product
        where id = #{id}
    </delete>

    <delete id="deleteLabSysProductByIds" parameterType="String">
        delete from lab_sys_product where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectAllProduct" resultType="String">
        select distinct product
        from lab_sys_product
    </select>
</mapper>
